body {
background-color: black;
margin-top: 300px;
margin-right: 600px;
margin-bottom: 300px;
margin-left: 650px;
}
button {
border: 50px blue;
border-radius: 50px;
padding-top: 25px;
padding-right: 40px;
padding-bottom: 25px;
padding-left: 40px;
background-color: white;
color: black;

}


